* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.careers-container {
    width: 100%;
    color: #333;
    padding-bottom: 50px;
}

.careers-banner {
    background: url('../assets/career2.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 80px 20px;
    position: relative;
    color: white;
}

.careers-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.careers-heading, .careers-subheading {
    position: relative;
    z-index: 1;
}

.careers-heading {
    font-size: 3em;
    color: #000;
    margin-bottom: 10px;
}

.careers-subheading {
    font-size: 1.5em;
    color: #44c948;
    margin-top: 10px;
}

.career-content {
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career-heading p {
    color: #041939;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.career-text p {
    color: #2B2E38;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
}

.career-search {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

.career-search input[type="search"] {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: none;
    border-radius: 30px;
    background-color: #D9E7FC;
    font-size: 16px;
    color: #041939;
}

.career-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
    pointer-events: none;
}

.career-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.career-card {
    padding: 20px;
    border: 1px solid #A9C9F9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.career-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #041939;
    margin-bottom: 10px;
}

.career-card p {
    font-size: 1rem;
    font-weight: 500;
    color: #424657;
    margin-bottom: 5px;
}

.career-card button {
    background-color: #fff;
    color: #186EEF;
    padding: 10px 20px;
    border: 1px solid #186EEF;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.career-card button:hover {
    background-color: #186EEF;
    color: #fff;
}

.career-card button a {
    color: inherit;
    text-decoration: none;
}

/* ............................desired role .............................. */

.desired-role-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9E7FC;
    padding: 50px 10%;
    text-align: center;
}

.left-text-container p {
    color: #041939;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.left-text-container h4 {
    color: #2B2E3B;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.right-form-container {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}

.form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-heading h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #186EEF;
    margin-bottom: 20px;
    text-align: center;
}

.form-inputs {
    display: grid;
    gap: 15px;
}

.form-inputs .input-container {
    position: relative;
}

.form-inputs input,
.form-inputs textarea {
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    border-radius: 6px;
    border: 1px solid #8D92A5;
    background: #FFFFFF;
    color: #041939;
}

.form-inputs input:focus,
.form-inputs textarea:focus {
    outline: none;
    border-color: #186EEF;
}

.form-input-icons {
    /* position: absolute; */
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #73788C;
}

.btn-submit {
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(90deg, #186EEF 0%, #44c948 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-submit:hover {
    background: linear-gradient(90deg, #44c948 0%, #186EEF 100%);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .careers-banner {
        padding: 100px 20px;
    }

    .careers-heading {
        font-size: 2em;
    }

    .careers-subheading {
        font-size: 1.2em;
    }

    .career-heading p {
        font-size: 2rem;
    }

    .career-cards {
        grid-template-columns: 1fr;
        padding-inline: 5%;
    }

    .career-card {
        width: 100%;
    }

    .desired-role-container {
        padding: 30px 5%;
    }

    .left-text-container p {
        font-size: 2rem;
    }

    .right-form-container {
        max-width: 100%;
    }

    .btn-submit {
        font-size: 1rem;
    }
}
