@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-us-header {
    height: 35vh;
    background: linear-gradient(90deg, rgba(34, 139, 34, 0.3) 0%, rgba(34, 139, 34, 0.3) 100%), url('../assets/banner_image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-heading h1 {
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    color: #072E69;
    text-shadow: -2px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
}

.contact-us-container {
    padding: 100px 220px;
    gap: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.left-contact-us {
    width: 100%;
    gap: 44px;
}

.left-contact-us-heading h1 {
    font-family: "Poppins";
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    text-align: left;
    color: #041939;
}

.left-contact-us-heading p {
    padding-top: 5px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #5A5F72;
}

.contact-us-main-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.help-title {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 34.32px;
    text-align: left;
    color: #2B2E3B;
}

.help-desc ul {
    list-style-position: outside;
    padding-left: 27px;
    margin-top: 5px;
}

.help-desc li {
    padding-left: 0;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 28.08px;
    text-align: left;
    color: #424657;
}

.help-desc span {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.08px;
    text-align: left;
    color: #424657;
}

.help-desc a {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.08px;
    text-align: left;
    color: #186EEF;
}

.contact-box {
    margin-top: 40px;
    width: 100%;
    height: auto;
    gap: 32px;
    border-radius: 12px;
    background: #61A0FF38;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.office-address, .contact-number-contact-page, .email {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 20px;
}

.contact-icon {
    width: 20px;
    height: 20px;
    padding-right: 14px;
    top: 2px;
    left: 4px;
    color: #186EEF;
}

.contact-heading {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
    color: #041939;
}

.address-desc {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24.96px;
    text-align: left;
    color: #041939;
}

.right-contact-us {
    width: 100%;
    gap: 24px;
    margin-top: 40px;
}

.input-msg {
    padding-top: 20px;
    position: relative;
}

#msg-text::placeholder {
    padding: 15px 15px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #73788C;
}

#msg-text {
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #8D92A5;
    width: 100%;
}

.btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 6px;
    border-radius: 8px;
    background: linear-gradient(90deg, #1895EF 0%, #186EEF 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 6px 6px 26px 0px #0C70E080;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}

.send-icon {
    padding-left: 5px;
    width: 100%;
    height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .contact-us-container {
        padding: 50px 100px;
    }

    .left-contact-us-heading h1 {
        font-size: 36px;
        line-height: 54px;
    }

    .left-contact-us-heading p {
        font-size: 18px;
        line-height: 28px;
    }

    .help-title {
        font-size: 20px;
    }

    .help-desc li,
    .help-desc span,
    .help-desc a {
        font-size: 16px;
    }

    .contact-box {
        flex-direction: column;
    }

    .right-contact-us {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact-us-container {
        padding: 30px 50px;
    }

    .left-contact-us-heading h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .left-contact-us-heading p {
        font-size: 16px;
        line-height: 24px;
    }

    .help-title {
        font-size: 18px;
    }

    .help-desc li,
    .help-desc span,
    .help-desc a {
        font-size: 14px;
    }

    .contact-box {
        padding: 15px;
    }

    .right-contact-us {
        margin-top: 15px;
    }

    .btn-send {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .contact-us-container {
        padding: 20px;
    }

    .left-contact-us-heading h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .left-contact-us-heading p {
        font-size: 14px;
        line-height: 20px;
    }

    .help-title {
        font-size: 16px;
    }

    .help-desc li,
    .help-desc span,
    .help-desc a {
        font-size: 12px;
    }

    .contact-box {
        padding: 10px;
    }

    .right-contact-us {
        margin-top: 10px;
    }

    .btn-send {
        font-size: 14px;
    }
}
