* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.services-container {
    padding: 40px 20px;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-box {
    background-color: #E9F4E3; 
    padding: 20px;
    width: 100vw; 
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.services-banner {
    background: url('../assets/career2.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 150px 20px;
    position: relative;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}

.services-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.services-heading {
    position: relative;
    z-index: 1; 
    font-size: 2em; 
}

.services-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 60px; 
    width: auto;
    z-index: 1; 
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    justify-content: center;
    max-width: 100%;
}

.service-card {
    background-color: #fff; 
    padding: 20px;
    width: 320px; 
    height: auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.service-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #3C3E54;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.service-card p {
    margin-bottom: 15px;
    color: #6D6F89;
    font-size: 1em;
    transition: color 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    background-color: #94F092;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card:hover h3, .service-card:hover p {
    color: #3C3E54;
}

.service-icon {
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.read-more {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.read-more:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .services-banner {
        padding: 100px 10px; 
    }

    .services-heading {
        font-size: 1.5em; 
    }

    .services-box {
        width: 90vw; 
    }

    .service-card {
        width: 100%;
        height: auto; 
    }
}

@media (max-width: 480px) {
    .services-banner {
        padding: 80px 5px; 
    }

    .services-heading {
        font-size: 1.2em; 
    }

    .services-box {
        width: 100vw; 
    }

    .service-card {
        width: 100%; 
        height: auto; 
    }
}
