.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 30%;
  height: auto;
  margin-left: 15%;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #07693b;
  width: 100%;
  z-index: 1000;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: 5%;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links li a:hover {
  color: #76d848;
}

/* Hamburger Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* When menu is open */
.menu-icon .bar.open {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon .bar.open:nth-child(2) {
  opacity: 0;
}

.menu-icon .bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.contact-container{
  padding-right: 4%;
}
.consulting-button {
  background: linear-gradient(135deg, #e5b738, #26e067); /* Gradient background */
  color: white; /* Text color */
  padding: 12px 24px; /* Padding for the button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  cursor: pointer; /* Pointer on hover */
  transition: all 0.3s ease; /* Smooth transition */
}

.consulting-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb); /* Reverse the gradient on hover */
  transform: translateY(-3px); /* Lift button on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    z-index: 100;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: -100%;
    width: 89%;
    height: 26vh;
    background-color: #3c3e54;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
}

  .navbar-links.active {
    left: 0;
  }

  .menu-icon {
    display: flex;
  }

  .contact-container {
    display: none; /* Hide contact details on smaller screens */
  }
}
